## 변수

In [2]:
# 아아 : 5000원 / 아샷추 : 6500원
# 아아 2잔 / 아샷추 3잔

아아 = 5000
아샷추 = 6500

#복습
print(아아 * 2 + 아샷추 * 3)
print(f'아아2잔 아샷추3잔 가격은 총{아아 * 2 + 아샷추 * 3}입니다')

29500
아아2잔 아샷추3잔 가격은 총29500입니다

계산된 결과값이 다 날아가는 문제.... 어떻게 해결해야 할까요?

###변수란? ( 기본중에 기본, 근본중에 근본, 코어중에 코어.... )
변수 : 하나의 값을 저장할 수 있는 공간

* 하나의 변수에 하나의 값을 넣을때
변수이름 = 값
* 두개의 변수에 하나의 값을 각각 넣을때
변수이름1, 변수이름2 = 값1, 값2

In [5]:
# 하나의 값을 변수에 넣을 때
num = 1
print(num)

# 두개의 값을 변수에 넣을 때
num_1, num_2 = 1, 2
print(num_1)
print(num_2)
print(num_1, num_2)

1
1
2
1 2

1부터 5까지의 숫자를 더하는 문제를 풀어보겠습니다. 단, 다음 숫자를 더하기 위해서 매번 새로운 줄에서 시작해야하는 조건이 있습니다.

In [6]:
# 변수를 사용하지 않을때
# 이전에 계산된 결과를 저장할 수 있는 방법이 없음
1 + 2
1 + 2 + 3
1 + 2 + 3 + 4
1 + 2 + 3 + 4 + 5

15

In [8]:
# 변수를 사용할 때
# 이전에 계산된 결과를 저장해서 사용할 수 있음
sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5
print(sum)

15

### 변수에 값을 넣는 것 >>> 할당

sum = 1 + 2 >>> 1+2의 계산된 결과를 sum이라는 변수에 할당한다.

sum은 변수명이고 "=" 같다는 의미가 아니라 할당(assignment)이라고 합니다.

"=" : 할당 연산자
"+" : 산술 연산자

+= 산술 후 바로 할당하는 문법
/+, -=, *= 모두 가능

In [10]:
# 변수를 사용하면서 사용 가능한 문법
sum = 1 + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5
print(sum)

sum2 = 1 + 2
sum2 += 3
sum2 += 4
sum2 += 5
print(sum2)

15
15

In [14]:
# 주의 선언되지 않은 변수를 사용할 경우 에러 발생
sum3 = 0

sum3 += 1
sum3

1

In [16]:
# 변수에 어떤값도 널고 싶지 않고 선언하는 방법

nothing = None
nothing #아무것도 나오지 않음
print(nothing) #None 이 나온다

None

변수를 만드는 규칙  
영문 문자와 숫자를 사용할 수 있습니다.  
대소문자를 구분합니다.  
첫글자는 대문자로 쓰는걸 지향합니다.  
문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.  
_(밑줄문자)로 시작할 수 있습니다.  
특수문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다  
파이썬 키워드 (if, for, while, and, or 등)는 시용할 수 없습니다.

In [17]:
# 대소문자를 구분하는 변수
BIG = '크다'
big = '작다'

print(big, BIG)

작다 크다

스네이크 케이스(snake case) 
변수명 : snake_case

카멜케이스(camel case)
변수명 : camelCase

In [19]:
# 우리는 변수를 만들때 스네이크케이스로 진행합니다. 그리고 언더바는 2개를 적용시켜주세요.
# 개발에 관련된 여러 조건을 멍시하는 것들을 코드 컨벤션이라고 합니다.

box__shose = '스니커즈'
box__hat = '슈프림 모자'

print(box__shose)
print(box__hat)

스니커즈
슈프림 모자

In [21]:
#print() 포메팅 3가지 f-string : f'{변수명}'}

me = '나'
print(f'{me}는 나다')

나는 나다

In [39]:
# 붕어빵 철이 돌아왔죠
# 붕어빵(팥) : 2000원, 붕어빵(슈크림) : 2500원, 붕어빵(잡채) : 3000원
# 무인 주문기계를 만들어 주세요
# 붕어빵(잡채) 3개, 붕어빵(슈크림) 2개를 주문하면
# "주문이 완료되었습니다. 붕어빵(슈크림) 2개, 붕어빵(잡채) 3개 총 5개 결제금액은 14000원 입니다."
# 이 출력되도록 코드를 작성해 주세요
# 스네이크 케이스에 언더바는 2개 / print()문의 포메팅 f-string

#변수값
fish__p = '붕어빵(팔)'
fish__s = '붕어빵(슈크림)'
fish__j = '붕어빵(잡채)'
#붕어빵 종류별 가격
fish__p__sell = 2000
fish__s__sell = 2500
fish__j__sell = 3000
#붕어빵 종류별 갯수
fish__p__sell__ea = 0
fish__s__sell__ea = 2
fish__j__sell__ea = 3
#총 주문 갯수
oder__total = fish__p__sell__ea + fish__s__sell__ea + fish__j__sell__ea
#총 결제 금액
fish__sell__ea= fish__p__sell * fish__p__sell__ea + fish__s__sell * fish__s__sell__ea + fish__j__sell * fish__j__sell__ea

print(f' 주문이 완료 되었습니다. {fish__p}{fish__p__sell__ea}개 {fish__s}{fish__s__sell__ea}개 {fish__j}{fish__j__sell__ea}개 총 {oder__total}개 결제금액은 {fish__sell__ea}입니다.')

 주문이 완료 되었습니다. 붕어빵(팔)0개 붕어빵(슈크림)2개 붕어빵(잡채)3개 총 5개 결제금액은 14000입니다.

## int, float

1. int(integer) : 정수 =1,2,3,4,-1,-2,-3
2. float(float) : 실수 =1.1, 2.0, 3.3
3. Str(string) : 문자
4. bool(bool, boolean) : 참 또는 거짓, true 또는 false, 1 또는 0
---
5. list
6. tuble
7. dict
8. set

In [41]:
1.1 + 2
4 / 2

2.0

In [42]:
9.0 + 2 #실수안에 정수가 포함되기 때문에 실수가 표기된다

11.0

In [43]:
#box_num에 숫자만 넣자는 약속을 했어요 누군가 한글 표기법으로 숫자를 넣었습니다

box_num = '하나'
box_num += 1

TypeError: can only concatenate str (not "int") to str

In [46]:
type(box_num)

str

In [48]:
type(1) # = int
type(1.2) # = float

float

In [49]:
#2여야 하는데 형변환
4 / 2

2.0

## 형변환 : 형태를 변환한다.

int, float
int -> float   예) 5 -> 5.0 float(5)

In [53]:
print(float(5))
print(int(5.0))

5.0
5

In [56]:
나이 = 10
type(나이)
print(dir(나이))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'is_integer', 'numerator', 'real', 'to_bytes']

In [61]:
print(나이.bit_length())
print(bin(나이))

4
0b1010

메소드/내장 함수/함수 무엇인지 설명을 할 수 있을 정도로 글을 작성해서 기록

## chapter 6 복습

In [27]:
이름 = "김오즈"
나이 = 30
키 = 180.3
소속 = "s매직 서울북부"

In [28]:
print(type(이름))
print(type(나이))
print(type(키))
print(type(소속))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
print(float(5))
print(int(5.0))
print(5, 5.0)
print(type(5), type(5.0))
print("5", "5.0")
print(type('5'), type('5.0'))

5.0
5
5 5.0
<class 'int'> <class 'float'>
5 5.0
<class 'str'> <class 'str'>

## str

str : 문자열  
특징 : 시퀀스 자료형  
시퀀스란? 요소들이 연속적으로 이어진 자료형  
값 하나하나를 요소라고 합니다

In [12]:
이름 = "김오즈"
나이 = 30
키 = 180.3
소속 = "s매직 서울북부"

# 0 = 인덱스 : 위치를 나타내는 용어 0부터 시작
print(소속)
print(소속[0])
print(소속[1])
print(소속[2])
print(소속[3])
print(소속[4])
print(소속[5])
print(소속[6])
print(소속[7])

s매직 서울북부
s
매
직

서
울
북
부

In [13]:
print('서' in 소속)
print('3' in 소속)

True
False

In [25]:
#문자열 즉 시퀀스 끼리 합치기

13 + '금요일' #숫자와 문자는 합쳐지지 않는다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
#문자열 즉 시퀀스 끼리 합치기

'13' + '금요일'

'13금요일'

In [28]:
#복사가 가능

옛날게임 = '바니바니 당근당근 '*20
print(옛날게임)

len(옛날게임)

바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근 바니바니 당근당근

200

#슬라이싱 : 마지막에 오는 숫자에 +1을 해서 적어준다

In [32]:
퀴즈 = "차 4대가 고장나면? 카포에라"
print(퀴즈[12:16])
print(퀴즈[12:15])

카포에라
카포에

In [36]:
print(퀴즈[15])
print(퀴즈[-1]) #-1을 하면 맨 마지막에 오는 글자를 출력해 준다.
print(퀴즈[-2]) #-2를 하면 맨 마지막 전에 오는 글자를 출력해 준다.
print(퀴즈[-3]) #-3을 하면 -2를 했을때 오는 글자의 전 글자를 출력해 준다.

라
라
에
포

In [41]:
생년월일 = '2000.12.25'
년 = 생년월일[0:4]
월 = 생년월일[5:7]
일 = 생년월일[8:10]

print(년, 월, 일)
print(f'{년} {월} {일}')

2000 12 25
2000 12 25

In [18]:
생년월일 = '2000.12.25'
년 = 2000
월 = 12
일 = 25
print(f'{년} {월} {일}')

2000 12 25

In [19]:
print(f'{생년월일[0:4]} {생년월일[5:7]} {생년월일[8:10]}')

2000 12 25

In [46]:
숫자 = '1234566778998675856'
#전체출력
print(숫자[::])

#거꾸로 출력
print(숫자[::-1])

#인덱스0 기준으로 2칸씩 띄어서 출력하기
print(숫자[::2])

#인덱스1 기준으로 2칸씩 띄어서 출력하기
print(숫자[1::2])

#인덱스 설정하여 원하는 부분만 출력하기
print(숫자[4:1:-1])
print(숫자[1:4:-1]) #아무것도 출력되지 않는다
print(숫자[4:1:]) #아무것도 출력되지 않는다
print(숫자[1:4:])

1234566778998675856
6585768998776654321
1356798786
246789655
543


234

In [55]:
퀴즈 = '스님이 공중에 뜬다를 4글자로 말하면? 어중이떠중이'

print(퀴즈[22:28])
print(퀴즈[-6:])

어중이떠중이
어중이떠중이

In [22]:
과일 = "apple"
과일.count("p")

2

In [23]:
과일[2]
과일.index("p")

1

In [24]:
라라랜드 = "사람들은 다른 사람들의 열정에 끌리게 되어있어 자신이 잊은걸 상기시켜 주니까"

## bool, boolean
* bool은 참과 거짓

In [60]:
#bool의 쇼타임
# 주의할점 True x true False x false
# 부등호

3 > 1 #True
# = 를 쓸때 ==로 쓴다
3 == 1 #False
3 == 3 #True
#같지않다
3 != 4 #True
10 != 10 #False

False

In [63]:
# 문자열 비교
"python" == "Python" #False #문자열은 대 소 문자 구분을 하기때문에 조심해야 한다.
"Python" == "Python" #True
"python" != "Python" #True

True

In [67]:
#부등호
5 >= 5 #True #크거나 같다(>=) 작거나 같다(<=)
5 < 4 #False
4 <= 5 #True

True

In [72]:
#중요
# == , is
3 is 3 #True
3 == 3 #True

# ==는 실제 값만을 비교하고 is는 객체의 타입을 비교
3.0 is 3 #False
3.0 == 3 #True

print(id(3))
print(id(3.0))

4321143456
4447185232

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
/var/folders/wk/x78xwk0562zbq_lmd582jyfc0000gn/T/ipykernel_19352/938774358.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  3 is 3 #True
/var/folders/wk/x78xwk0562zbq_lmd582jyfc0000gn/T/ipykernel_19352/938774358.py:7: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
  3.0 is 3 #False

값 비교에는 is를 쓰면 안되는데 그 이유를 찾아서 적어 보세요
* 값비교는 값이 같은지를 비교하는 작업입니다. ==(등호 비교 연산자)는 두 객체의 값을 비교하는 것 인데, is(동일성 비교 연산자)는 두 객체의 메모리값, 즉 두 객체가 동일한지 비교하는 것 이기 때문에 사용하면 안됩니다. 값 비교에 is값을 사용할 경우 잘못된 결과를 초래할 수 있습니다.

In [78]:
# and
#본격적인 논리연산자
# True : 1 / False : 0

# and라는 것은 두가지 값을 비교 해서 동일할때 동일한 값을 출력
#두개의 값이 다를때 False를 출력 / 값이 같으면 동일한 값
#and 는 *라고 생각 하면됨
True and True #1 * 1 = 1
True and False #1 * 0 = 0
False and True #0 * 1 = 0
False and False #0 * 0 = 0

False

In [83]:
# or
#본격적인 논리연산자
# True : 1 / False : 0

# or는 그냥 말 그대로 '또는'
#두개의 값이 다를때 True를 출력 / 값이 같으면 동일한 값
#or 는 +라고 생각 하면됨
True or True #1 + 1 = 2
True or False #1 + 0 = 1
False or True #0 + 1 = 1
False or False #0 + 0 = 0

False

In [85]:
# not
# 값을 반대로 바꾸는것

not True # False
not False # True

True

In [91]:
# 점점 복잡해지는 조건들

10 == 12 or 6 != 2 #True
2 > 5 and 7 == 7 #False
not 14 <= 15 #False
not 7 is 7.0 #True

<>:6: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:6: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
/var/folders/wk/x78xwk0562zbq_lmd582jyfc0000gn/T/ipykernel_19352/4241150061.py:6: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  not 7 is 7.0

True

In [92]:
# 문자열? True?

bool('힘들어요 여러분')

True

In [96]:
#굉장히 중요한 내용
#단락 평가
print(False and True) #False 값 까지만 보고 False 출력 왜냐허면 and 는 둘중 하나만 False여도 False 이므로
print(False and "힘들어요") #False = 힘들어요 까지 값을 안보냄 and앞에 True가 있으므로

print(True and False) # and 앞이 True 이므로 값을 and 뒤까지 출력
print(True and '힘들어요') # 1 * 1,0 뒤에 뭐가 나올지 몰라 and 뒤까지 출력 이런 경우 '힘들어요'까지 값을 출력 하므로 '힘들어요'기 값이된다.
print(True or '힘들어요') # or 경우 둘중 하나만 True알 경우 True 이기 때문에 and 앞이 True이면 True출력
print(False or '힘들어요')

False
False
False
힘들어요
True
힘들어요